*{
    margin: 0;
    padding: 0;
}

.parent{
    /* background-color: lavender; */
    text-align: center;
    margin: 1.6rem 1rem ;
    border-radius: 1rem;
}

p{
    /* border: 2px solid black; */
    width: 20rem;
    margin-top: 5px;
    background-color: lightgreen;
    border-radius: 5px;
}
.container{
    padding: 2rem;
    display: inline-block;
    /* border: 2px solid black; */
    /* font-weight: 700; */
    /* font-size: 15px; */
    /* display:grid; */
    /* justify-content:center; */
}
.container button{
    border-radius: 5px;
    background-color:bisque;
    height: 2.5rem;
    padding: 10px;
    font-weight: 300;
    font-size: 15px;
}
.container input{
    border-radius: 5px;
    height: 1.7rem;
    padding: 5px;
    font-weight: 300;
    font-size: 15px;
    width: 20rem;
    
}
.container button:hover{
    background-color:darksalmon;
    cursor: pointer;
}
.items button{
    background-color:cadetblue;
    padding: 3px;
}
.newText{
    border: none;
    background-color:lime;
    border-radius: 5px;

}
.filter{
    display: none;
}
.filter{
    margin: 1rem 0 ;
}
.filter input{
    width: 10rem;
    padding: 1px;
}
.items{
    display: grid;
    /* border: 2px solid red; */
    
}
.items input{
    width: 20rem;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    background-color: chartreuse;
}
.items button{
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
}
.items button:hover{
    cursor: pointer;
    border-radius: 5px;
    background-color: cornsilk;
    
}
ol{
    justify-content: center;
}
li{
    margin-top: 7px;
}

@media screen and (min-width:450px) and (max-width:560px) {
    .container input{
        width: 15rem;
        height: 1rem;
    }
    .container button{
        padding: 2px;
        height: 1.7rem;
    }
    .items input{
        width: 200px;
    }
}

@media screen and (min-width:350px) and (max-width:450px) {
    .container input{
        width: 10rem;
        height: 1rem;
    }
    .container button{
        padding: 2px;
        height: 1.7rem;
    }
    .items input{
        width: 7rem;
    }
}

@media screen and (min-width:200px) and (max-width:350px) {
    .container input{
        width: 13rem;
        height: 1rem;
    }
    .container button{
        padding: 2px;
        height: 1.7rem;
        margin-top: 3px;
    }
    .items{
        margin-left: 3rem;
        /* width: 5rem; */
    }
    .items input{
        width: 13rem;
    }
    .items button{
        margin-top: 3px;
    }
}